#page {
    border: 1px solid blue;
    grid-template-columns: 80px 1fr;
    display: grid;
    height: max-content;
}
#sidebar {
    border: 1px solid blue;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
li {
    list-style-type: none;
    border: 1px solid blue;
}
.button {
    height: 100px;
}
#main {
    display: grid;
    grid-template-rows: 50px 1fr 2fr;
}
#top-bar {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 130px;
}
#profile {
    border: 1px solid blue;
    display: grid;
    text-align: center;
}
#extra {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: right;
}
#info {
    border: 1px solid blue;
    grid-template-rows: 40px 1fr;
    height: 300px;
}
#title {
    padding: 10px;
}
#content {
    text-align: center;
    padding-top: 100px;
}
@media (max-width: 600px) {
    #page {
        grid-template-columns: 1fr;
    }
    #sidebar {
        display: none;
    }
}
@media (max-width: 1600px) {
    #extra {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 800px) {
    #extra {
        grid-template-columns: 1fr;
    }
}